@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Public+Sans&family=Unbounded&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.6;
  width: 1600px;
  margin: 0 auto;
  padding-top: 1.5rem;
 

}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}