@import "utilities";


.homepage {
    margin-top: 1rem;
}
div.gradient1 {
    width: 45rem;
    height: 45rem;

    position: absolute;
    z-index: -22;
    top: -10rem;
    left: -25rem;
    background-image: radial-gradient(#2e31927e -25%,#1bffff2f 34%, transparent 60%);


    
  
    
}

div.gradient2 {
    width: 45rem;
    height: 45rem;

    position: absolute;
    z-index: -22;
    top: 19rem;
    right: -25rem;
    background-image: radial-gradient(#2e31927e -25%,#1bffff2f 34%, transparent 60%);


    
  
    
}


.numbers {
    position: absolute ;
    top: 21rem;
    z-index: 999;
    left: 14.5%;
    ul {
        li {
            padding: 1rem 0;
            font-size: 27px;
            font-family: 'Plus Jakarta Sans', sans-serif;
            color: #BCBCBC;
        }
        .one {
            color: #000;
        }
        .two {
            font-size: 20px;
            // padding: 0 1rem;
            padding-left: 0.2rem;
            padding-top: 2.5rem;
        }
        .three {
            font-size: 1rem;
            padding-left: 0.4rem;
            padding-top: 2.5rem;
        }
    }
}
header {
    
    height:80vh;
    overflow-y: scroll;
    transform: scaleX(-1); //Reflects the parent horizontally
    padding-top: 5rem;
    margin-top: 1rem;
  
    .header {
        height: 20rem;
        transform: scaleX(-1); //Flips the child back to normal
       
    }
    .header-wrapper {
       
        
        display: flex;
         position: relative;
        .description-box {
            width: 40rem;
            height: 75vh;
            .wrapper {
               width: 80%;
               margin: 0 auto;
               margin-top: 15%;
               margin-left: 8.3rem;

            }
            
            .description {
                padding: 1rem 0;
            }
            .title {
                font-size: 56px;
              }
              .button-price {
                display: flex;
                padding-top: 1rem;
                .button p{
                    border: 1px solid #000;
                    border-radius: 21px;
                    display: flex;
                    cursor: pointer;
                    padding: 0.5rem 0.8rem;
                    
                    align-items: center;
                    img {
                        padding-left: 0.7rem;
                        // top: 1rem;
                    }
                }
                .price p {
                    font-size: 28px;
                    font-weight: 600;
                    padding-left: 1.5rem;
                }
              }
        }
        .image-box {      
            h1 {
                position: absolute;
                font-size: 300px;
                -webkit-text-stroke: 2px rgba(0, 0, 0, 0.171); /* width and color */
                color: transparent;
                top: 3rem;
                right: -0.2rem;
                z-index: -1;
            }
            img {
                position: absolute;
                z-index: 2 !important;
                width: 55rem;
                top: -7rem;
                right: -5rem;
            }
        }
     
    }
}
header::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
header::-webkit-scrollbar-track {
    background-color: #BCBCBC;
    margin-top: 15rem;
    margin-bottom: 13rem;
  }
   
  /* Handle */
header::-webkit-scrollbar-thumb {
    background: #000; 

  }
  
